@model CQIE.LMS.Models.SystemMenu


<h1>
    编辑菜单
</h1>

<form method="post" action="~/Systems/SaveMenu">
    <table>
        <tr>
            <td>菜单名：</td>
            <td>
                <input type="hidden" name="Id" value="@(Model==null?0:Model.Id)" />
                <input type="text" name="Name" value="@(Model==null?"":Model.Name)" />
            </td>
        </tr>
        <tr>
            <td>Url</td>
            <td><input type="text" name="Url" value="@(Model==null?"":Model.Url)" /></td>
        </tr>

        <tr>
            <td>IconClassName</td>
            <td><input type="text" name="IconClassName" value="@(Model==null?"":Model.IconClassName)" /></td>
        </tr>

        <tr>
            <td>SortOrder</td>
            <td><input type="text" name="SortOrder" value="@(Model==null?"":Model.SortOrder.ToString())" /> </td>
        </tr>

        <tr>
            <td>ParentID</td>
            <td><input type="text" name="ParentID" value="@(Model==null?"":Model.ParentID.ToString())" /> </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="保存" /></td>
        </tr>
    </table>
</form>