@model CQIE.LMS.Models.Identity.SysUser

<h1>
    编辑用户
</h1>

<form method="post" action="~/Systems/SaveUser">

    <table>
        <tr>
            <td>登录名：</td>
            <td>
                <input type="hidden" name="Id" value="@(Model==null?0:Model.Id)" />
                <input type="text" name="UserName" value="@(Model==null?"":Model.UserName)" />
            </td>
        </tr>
        <tr>
            <td>用户密码：</td>
            <td><input type="password" name="LoginPassword" value="@(Model==null?"":Model.LoginPassword)" /></td>
        </tr>
        <tr>
            <td>邮件：</td>
            <td><input type="text" name="Email" value="@(Model==null?"":Model.Email)" /></td>
        </tr>
        <tr>
            <td>手机号：</td>
            <td><input type="text" name="PhoneNumber" value="@(Model==null?"":Model.PhoneNumber)" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="保存" /></td>
        </tr>
    </table>
</form>